name: Check

on: [push]

jobs:
  check:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'liberica'
          java-version: '25'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          validate-wrappers: true
          cache-encryption-key: ${{ secrets.CACHEENCRYPTIONKEY }}
      - name: Run check
        run: ./gradlew check
